*{
    margin:0 auto;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* Resolución base de la web*/
body{
    width: 1260px;
}
/* ----------------header de la web---------------------*/
header{
    color:black;
    background-color: rgb(242, 217, 243);
    text-align: center;
    border-radius:5px;
    padding:0.625em 0px; /* 0.625em = 10px/16px*/
}
#imagen1{
    width:11.9048%; /* 150px /1260px * 100 = 11.9048% */
    vertical-align: middle;
    display:inline-block;
}
#imagen2{
    width:11.9048%; /* 150px /1260px * 100 = 11.9048% */
    vertical-align: middle;
    display:none;
}
#titulo{
    vertical-align: middle;
    display:inline-block;
    width: 30.1587%; /* 380px / 1260px * 100 = 30,1587%*/
    font-size: 3em; /*48px*/
}
/* Establecemos que la imagen se adapte al contenedor al 100% del ancho, la altura de la imagen será automatica*/
img{
    width:100%;
}

/*------------------cuerpo de la web------------------*/
main{
    background-color:rgb(211, 241, 231); ;
}

main aside{
    
    cursor:pointer;
    width:25%;/* 315px / 1260px * 100 = 25%*/
    display: inline-block;
    vertical-align: top;
    min-height: 40vh;
    background-color: white;
  
}

main div#contenido{ 
   
    padding:3.125em 3.9682%;/* 3.125em = 50px / 16px ; 50px / 1260px * 100= 3.9682%*/
    min-height:40vh;
    width:67.0634%;/* 845px / 1260px * 100 = 67.0634 % */
    display: inline-block;
    background-color: rgb(211, 241, 231);
}

main aside div{
    padding: 1.25em 6.349206349206349%;/*20/16 = 1.25em ; 20px/315px *100 = 6,349206%*/
    text-align: center;
    border:1px rgb(211, 241, 231) solid; 
}

main aside div:hover{
    background-color:rgb(206, 43, 198);
    color:white;
   
}
main div#contenido > form  > div > label{
    display: block;
}
main div#contenido input[type="text"]{
    margin-bottom:5px;
    padding-left:2.366863905325444%;/* 20px / 845px * 100 = 2.366863905325444%*/
    padding-top:5px;
    padding-bottom:5px;
    margin-top:8px;/* 8px de espacio entre input y texto por la parte de arriba del input*/
    width: 91.83431952662722%; /*776px / 845px * 100 =  91.83431952662722% Realmente quiero coger todo el espacio disponible para este input menos los bordes por defecto*/
}

main div#contenido select{
    cursor:pointer;
    margin-top:8px;
    width:94.67455621301775%;/* 800px / 845px * 100 =  94.67455621301775% *//* Aqui no calculamos el width ya que este elemento tiene box-sizing: border-box y nos lo calcula solo auto*/
    padding: 5px 0% 5px 2.366863905325444%;/* 20px / 845px * 100 = 2.366863905325444%*/
}

div#realizacion, div#inscripcion{
    margin-top:20px;
    width:47.33727810650888%;/*400px / 845px * 100 = 47.33727810650888%*/
    display:inline-block;
    text-align: center;
    font-weight: bold;
}

/* No necesita display:inline-block lo queremos solo en la línea*/
div#publicacion{
    margin-top:20px;
    width:47.33727810650888%;/*400px / 845px * 100 = 47.33727810650888%*/
    text-align: center;
    font-weight: bold;
}

div#realizacion  input, div#inscripcion  input , div#publicacion input{
    width:27.75%;/*111px / 400px * 100 = 27.75%*/
    margin: 20px 2.5% auto;/*10px /400px * 100 = 2.5%*/
    cursor:pointer;
} 
main div#contenido #textarea label{
    display: block;
    
}
/* El textarea en firefox tiene 2px de border , sin embargo en chrome tiene 1 px*/
main div#contenido textarea{
    padding:5px 0px 5px 2.366863905325444%;/* 20px / 845px * 100 = 2.366863905325444%*/
    width: 91.83431952662722%;/* 776px / 845px * 100 = 91.83431952662722%*/
    resize:none;
    margin-top:20px;
}

div#botones{
    width:94.67455621301775%;/*800px /845px *100 = 94.67455621301775%*/
    margin-left: 0;
    margin-top:70px;
}

/*los botones en firefox son elementos inline-block y border box*/
div#botones button{
    border: none;
    cursor:pointer;
    height: 30px;
    width:25%;/* 200px / 800px * 100 = 25%*/
    margin-left: 6.25%; /*50px / 800px * 100 = *//*200px de espacio lo reparto entre 4 espacios para que se estructuren en el centro*/
   
}
div#botones button:hover{
    filter: saturate(4); /*Se satura al pasar el raton*/
}
div#botones button#uno{
    background-color: rgb(240, 160, 160);
}
div#botones button#dos{
    background-color: rgb(240, 239, 160);
}
div#botones button#tres{
    background-color: rgb(160, 240, 160);
}
/* los botones tienen por defecto border box*/
/* Los select tambien son border box*/

@media (max-width: 430px) {
    main aside{
        display:none;
    }
    main div#contenido{
        display:block;
    }
    main div#contenido #textarea label{
        margin-top:10px;
    }
    #titulo{
        font-size:2em;
    }
}
@media (max-width:780px){
    main aside{
        display:none;
    }
    main div#contenido{
        display:block;
    }
    #titulo{
        width:60.1587%;
    }
    #imagen2{
        display:inline-block;
        cursor:pointer;
    }
    #imagen1{
    
        display:none;
    }      
}
  
